.grid-item {
    height: 50px;
    padding: 5px 10px;
}

.grid-item .item {
    animation-delay: .2s;
    -webkit-box-shadow: 0 0 5px 3px rgba(185, 185, 185, 0.13);
    box-shadow: 0 0 5px 3px rgba(185, 185, 185, 0.13);
    border-radius: 5px;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    width: 100%;
    height: 100%;
}

.grid-line {
    overflow: hidden;
}